extends ./layout/layout

block variables
  - var title = "Приобретение билета — Molfar Beauty Forum"
  - var description = "Приобретение билета на Molfar Beauty Forum ‘19"
  - var ogImage = ""
  - var pageModifier = "page--buying"

block content
  include order-buying/order-buying

block script
  script(defer src="/js/order.min.js")
  script.
    tabby.init();
