extends ../layouts/main

block variables
  - var title = "Molfar Beauty Forum 2018"
  - var description = "Molfar Beauty Forum — как это было в 2018 году"
  - var ogImage = "/img/og-image.jpg"
  - var ogImageSecure = "/img/og-image.jpg"
  - var pageModifier = "page--throwback"
  - var current_url = "/throwback.html"

block content
  include throwback/throwback__hero
  include throwback/throwback__blocks
