section.activities.activities--party.lazyload
  .container.activities__container

    .activities__wrapper
      h2.activities__title Оторвитесь на вечеринках
      p.activities__description Вас ждёт «Гуцульская вечеринка» в честь открытия, которая пройдёт на вершине горы с фуд-кортом из гуцульских блюд и DJ-ями#[br]#[br]И под финал, в честь закрытия Форума, — вечеринка с кавер-бэндом «Цвет Кульбабы» и фуршетом

    .activities__wrapper.activities__wrapper--button
      a.activities__button.button.button--red(href="/#tickets")
       span Приобрести билет
