section.activities.activities--extreme.activities-parallax
  .activities__bg.lazyload

  .container.activities__container

    .activities__wrapper.activities__wrapper--text.activities-parallax__layer(data-rellax-speed="-1")
      h2.activities__title Словите экстрима
      p.activities__description Для всех любителей активного отдыха мы открываем велосипедные трассы, квадротуры, вышки для роуп-джампинга и троллейные переправы
