section.hero.hero--recreation.activities.activities--hero.activities-parallax
  .activities__bg.activities__bg--pool

  picture.activities__img-wrapper.activities-parallax__layer.activities-parallax__layer--last(data-rellax-speed="4")
    //- webp images
    source(
      type="image/webp",
      srcset="../img/recreation/woman_1080.webp 1080w, ../img/recreation/woman_1440.webp 1440w, ../img/recreation/woman_1920.webp 1920w")

    //- png images
    source(
      type="image/png",
      srcset="../img/recreation/woman_1080.png 1080w, ../img/recreation/woman_1440.png 1440w, ../img/recreation/woman_1920.png 1920w")
    img.activities__img(src="../img/recreation/woman_1080.png")

  .container.hero__container
    h1.hero__title Отдохните на Molfar Forum
    p.hero__description Нет, ну правда. Не всё же время учиться
