//- атрибут cite только если будут прямые ссылки на цитаты
blockquote.throwback-quote.throwback-quote--right(cite="")
  strong.throwback-quote__author Антон Приходько
  a.throwback-quote__link(href="") @antonbarber
  p.throwback-quote__text Я вот четыре ооочеень конструктивных дня провел в Буковеле на Molfar Forum. Если что — это самый масштабный форум для специалистов, чья работа так или иначе связана с бьюти-индустрией.
