section.hero.hero--throwback
  .hero__container.container
    .hero__title-wrapper
      h1.hero__title.hero__title--throwback.visually-hidden Molfar Beauty Forum ‘18
      strong.hero__title.hero__title--throwback Как это было в 2018 году
      p.hero__description.hero__description--throwback Это был дебютный Molfar Forum, мы отрывались как могли. Лучшие спикеры, крутые знакомства, яркие вечеринки

    .hero__video-wrapper
      .hero__video.loading
        iframe.lazyload(data-src="https://www.youtube.com/embed/5o8zt87Omq0?rel=0&amp;showinfo=0" width="560" height="315" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)
