section.hero.hero--index(data-particle-img="./img/rombus.svg")
  canvas#particles1(style="position: absolute; width: 100%; height: 100vh;")

  .hero__bg-wrapper
    .hero__bg

  canvas#particles2(style="position: absolute; width: 100%; height: 100%")

  .hero__container.hero__container--index.container
    h1.hero__title.visually-hidden Molfar Beauty Forum ‘19
    strong.hero__title Главная #[br]бьюти-конференция в Украине
    p.hero__description #[time(datetime="2019-05-12") 12 – 16 мая], Буковель
    a.hero__button.button.button--white(href="/throwback.html")
      span Смотреть как было круто в 2018 году
    a.hero__button.button.button--red(data-scroll href="#tickets")
      span Приобрести билет
