blockquote.quote
  .quote__container.quote__container--left-image.container
    .quote__content
      .quote__text-wrapper
        p.quote__text Molfar Forum — Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты
      strong.quote__author Анна Кравченко

    .quote__img-wrapper.loading
      img.quote__img.lazyload(
        data-srcset="./img/quote/quote-2.png 300w, ./img/quote/quote-2.png 600w, ./img/quote/quote-2.png 900w",
        src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==",
        data-src="./img/quote/quote-2.png",
        alt="Анна Кравченко")
