section.questions
  .questions__container.container
    .questions__title-wrapper
      h3.questions__title Остались вопросы?
      p.questions__description Позвоните или напишите нам

    ul.questions__contacts
      li.questions__contact-wrapper
        a.questions__contact(href="tel:+380665583107") +38 066 558 31 07
      li.questions__contact-wrapper
        a.questions__contact(href="tel:+380983187115") +38 098 318 71 15
      li.questions__contact-wrapper
        a.questions__contact(href="mailto:molfar.forum@gmail.com?subject=Molfar 2019") molfar.forum@gmail.com

    .questions__socials
      b.questions__socials-title Хотите быть в курсе новостей?
      p.questions__socials-description Подписывайтесь на нас в #[a.questions__socials-link(href="https://www.facebook.com/molfarforum", target="_blank", rel="noopener") facebook] и #[a.questions__socials-link(href="https://www.instagram.com/molfarforum/", target="_blank", rel="noopener") instagram]

    include ../../modules/molfar-form
