.pdf
  .pdf__container.container
    header
      nav
        a(href="https://molfarforum.com/", target="_blank", rel="noopener")
          img(src="./img/layout/molfar.png", width="160", heigth="51", alt="Molfar Beauty Forum ‘19")
      ul
        li Molfar Beauty Forum ‘19
        li
          time(datetime="2019-05") 12 – 16 мая 2019
        li
          address ГК Буковель, Украина

    table
      thead
        tr
          th(colspan="2") Номер заказа
        tr
          td(colspan="2") 001-000-000
      tbody
        tr
          th(colspan="2") Имя участника
        tr
          td(colspan="2") Константина Константинопольская
        tr
          th Поток
          th Проживание
        tr
          td Парикхмахерство
          td Многоместное

    div
      p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Строчка все запятой ipsum своих курсивных семантика дорогу если, текст текстами речью правилами о продолжил.

      p При потере билета обратитесь к менеджеру
      a(href="tel:+380665583107") +38 066 558 31 07
      a(href="tel:+380983187115") +38 098 318 71 15
