button.menu
  span Меню
  svg.menu__icon(version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="24" viewBox="0 0 24 24")
    g.menu__toggle
      path.menu__line.menu__line--1(d="M3,6v2h18V6H3z")
      path.menu__line.menu__line--2(d="M3,13h18v-2H3V13z")
      path.menu__line.menu__line--3(d="M3,18h18v-2H3V18z")
