.announcement
  .container.announcement__container
    a.announcement__wrapper
      p.announcement__text Перезжаем на новый хостинг! 🎉
      p.announcement__text Возможны сбои в работе сайта с 15 по 16 число
