section.rules
  .rules__container.container
    h1.rules__title.rules__title--h1 Правила конкурса Dream Team

    aside.rules__contents.contents
      ol.contents__list
        li.contents__item.contents__item--outer
          a.contents__link.contents__link--title(href="#Theorderofthecompetition") Порядок проведения конкурса
          ol.contents__list.contents__list--inner
            li.contents__item
              a.contents__link(href="#Qualifyingphase") Отборочный этап
            li.contents__item
              a.contents__link(href="#Thefinalstage") Финальный этап

        li.contents__item.contents__item--outer
          a.contents__link.contents__link--title(href="#Criteriaforassessingthequalifyingphase") Критерии оценки отборочного этапа
          ol.contents__list.contents__list--inner
            li.contents__item
              a.contents__link(href="#ThequalifyingphaseManicure") Этап «Маникюр»
            li.contents__item
              a.contents__link(href="#ThequalifyingphaseMakeup") Этап «Макияж»
            li.contents__item
              a.contents__link(href="#ThequalifyingphaseHairstyle") Этап «Причёска»
            li.contents__item
              a.contents__link(href="#Photorequirements") Требования к фото

        li.contents__item.contents__item--outer
          a.contents__link.contents__link--title(href="#Rulesofthefinalstage") Правила финального этапа

        li.contents__item.contents__item--outer
          a.contents__link.contents__link--title(href="#Criteriaforevaluatingthefinalphase") Критерии оценки финального этапа
          ol.contents__list.contents__list--inner
            li.contents__item
              a.contents__link(href="#ThefinalphaseManicure") Этап «Маникюр»
            li.contents__item
              a.contents__link(href="#ThefinalphaseMakeup") Этап «Макияж»
            li.contents__item
              a.contents__link(href="#ThefinalphaseHairstyle") Этап «Причёска»


    .rules__wrapper
      h2.rules__title.rules__title--h2#Theorderofthecompetition Порядок проведения конкурса

      h3.rules__title.rules__title--h3#Qualifyingphase Отборочный этап
      ol.rules__list
        li.rules__item-wrapper.rules__item-wrapper--order
          p.rules__item Для участия в конкурсе Dream Team соберите команду из четырех участников: парикмахера, визажиста, мастера маникюра и модели (возраст до 25 лет)
        li.rules__item-wrapper.rules__item-wrapper--order
          p.rules__item Командой создайте образ на тему «Звёздная невеста»
        li.rules__item-wrapper.rules__item-wrapper--order
          p.rules__item Сфотографируйте прическу, маникюр, макияж и общий конкурсный образ, пользуясь представленными ниже критериями к фото
        li.rules__item-wrapper.rules__item-wrapper--order
          p.rules__item Зарегистрируйте команду и оплатите оргвзнос в размере 3000 гривен до 1 апреля 2019 года (реквизиты для оплаты вы получите после регистрации). Вышлите пакет фотографий с выполненным заданием на почту #[a(href="mailto:dreamteam@molfarforum.com") dreamteam@molfarforum.com] с названием вашей команды в теме письма
        li.rules__item-wrapper.rules__item-wrapper--order
          p.rules__item С 5 по 14 апреля 2019 года профильное жюри определит работы 12 лучших команд, ещё 2 команды попадут в финальный этап Конкурса путем онлайн-голосования
        li.rules__item-wrapper.rules__item-wrapper--order
          p.rules__item Результаты отборочного этапа будут опубликованы на сайте 17 апреля 2019 года


      h3.rules__title.rules__title--h3#Thefinalstage Финальный этап
      ol.rules__list
        li.rules__item-wrapper.rules__item-wrapper--order
          p.rules__item В апреле 2019-го команды, прошедшие отбор, получат приглашение на финальный этап Конкурса в Буковель. Приехать нужно всем составом команды. Замена модели не допускается
        li.rules__item-wrapper.rules__item-wrapper--order
          p.rules__item Участие во втором этапе Конкурса платное — 16 000 гривен со всей команды. В сумму оргвзноса входят билеты для мастеров на потоки «Парикхмахерство», «Визаж» и «Маникюр». А для модели проживание на Буковеле, завтраки и вечеринки
        li.rules__item-wrapper.rules__item-wrapper--order
          p.rules__item Команды, прошедшие в финал, должны оплатить оргвзнос до 31 апреля 2019 года
        li.rules__item-wrapper.rules__item-wrapper--order
          p.rules__item На сцене команды-финалисты поэтапно воссоздадут конкурсные образы. Команда, которой удастся превзойти конкурентов, получит Гран-при в размере 100 000 гривен наличными и драгоценный переходящий Кубок Dream Team. Или награду в виде сертификатов по 25 000 гривен в одной из 4-х номинаций — «Лучший маникюр», «Лучшая причёска», «Лучший макияж» или «People’s Choice»


    .rules__wrapper
      h2.rules__title.rules__title--h2#Criteriaforassessingthequalifyingphase Критерии оценки отборочного этапа

      aside.rules__atention-wrapper
        p.rules__atention Прежде чем приступать к работе над образом, обратите внимание: этот образ команде придется воспроизвести во время финала соревнований Dream Team. Время на выполнение каждого этапа — «Маникюр», «Макияж» и «Причёска» — в финале ограничен и составляет 90, 45 и 60 минут соответственно. Все критерии оцениваются по 10-бальной шкале

      .rules__inner
        h3.rules__title.rules__title--h3#ThequalifyingphaseManicure Этап «Маникюр»
        ul.rules__list
          li.rules__item-wrapper
            p.rules__item
              b.rules__title.rules__title--b Сложность и техничность
            p.rules__item.rules__item--italic Оценивается точность и чистота работы, тщательность проработки деталей
          li.rules__item-wrapper
            p.rules__item
              b.rules__title.rules__title--b Оригинальность образа
            p.rules__item.rules__item--italic Оценивается неординарный подход и необычность видения
          li.rules__item-wrapper
            p.rules__item
              b.rules__title.rules__title--b Цветовое решение
            p.rules__item.rules__item--italic Оценивается гармония и подбор цветов, их сочетание и баланс
          li.rules__item-wrapper
            p.rules__item
              b.rules__title.rules__title--b Общие впечатления
            p.rules__item.rules__item--italic Оценивается гармоничность целостного образа

        .rules__requirements
          p.rules__item.rules__item--title.rules__item--grey
              b.rules__title.rules__title--b Общие требования:

          ul.rules__list.rules__list--grey
            li.rules__item-wrapper
              p.rules__item Кожа рук модели ухоженная и здоровая
            li.rules__item-wrapper
              p.rules__item Открытая, чистая линия кутикулы
            li.rules__item-wrapper
              p.rules__item Длина ногтей от кутикулы до кончиков от 2 до 5 сантиметров
            li.rules__item-wrapper
              p.rules__item Работа выполняется на смоделированных по базовой технологии ногтях
            li.rules__item-wrapper
              p.rules__item Дизайн ногтей гармонирует с общим образом
            li.rules__item-wrapper
              p.rules__item Ногти носибельные и отвечают тенденциям 2019 года
            li.rules__item-wrapper
              p.rules__item Маникюр не содержит элементы в виде людей, животных, птиц, насекомых, одухотворенных персонажей и тд

          p.rules__item.rules__item--title.rules__item--grey
            b.rules__title.rules__title--b Разрешается:

          ul.rules__list.rules__list--grey
            li.rules__item-wrapper
              p.rules__item Использовать оборудование и инструменты любого типа
            li.rules__item-wrapper
              p.rules__item Дополнять дизайн ногтей аксессуарами
            li.rules__item-wrapper
              p.rules__item Дизайн ногтей может быть выполнен в любой технике, иметь любую поверхность, например, плоскую или рельефную, содержать трехмерные (3D) элементы

      .rules__inner
        h3.rules__title.rules__title--h3#ThequalifyingphaseMakeup Этап «Макияж»
        ul.rules__list
          li.rules__item-wrapper
            p.rules__item
              b.rules__title.rules__title--b Сложность и техничность
            p.rules__item.rules__item--italic Оценивается форма и симметрия
          li.rules__item-wrapper
            p.rules__item
              b.rules__title.rules__title--b Оригинальность образа
            p.rules__item.rules__item--italic Оценивается неординарный подход и необычность видения
          li.rules__item-wrapper
            p.rules__item
              b.rules__title.rules__title--b Цветовое решение
            p.rules__item.rules__item--italic Оценивается гармония и подбор цветов, их сочетание и баланс
          li.rules__item-wrapper
            p.rules__item
              b.rules__title.rules__title--b Общие впечатления
            p.rules__item.rules__item--italic Оценивается гармоничность целостного образа

        .rules__requirements
          p.rules__item.rules__item--title.rules__item--grey
            b.rules__title.rules__title--b Общие требования:

          ul.rules__list.rules__list--grey
            li.rules__item-wrapper
              p.rules__item На лице модели нет перманентного макияжа и нарощенных ресниц
            li.rules__item-wrapper
              p.rules__item Кожа лица здоровая, без недостатков
            li.rules__item-wrapper
              p.rules__item Модель имеет современную форму бровей
            li.rules__item-wrapper
              p.rules__item Макияж носибельный и соответствует модным тенденциям 2019 года

          p.rules__item.rules__item--title.rules__item--grey
            b.rules__title.rules__title--b Разрешается:

          ul.rules__list.rules__list--grey
            li.rules__item-wrapper
              p.rules__item Использовать аэрограф, гелевые текстуры, мелкие декоративные элементы (например, ресницы или стразы)

      .rules__inner
        h3.rules__title.rules__title--h3#ThequalifyingphaseHairstyle Этап «Причёска»
        ul.rules__list
          li.rules__item-wrapper
            p.rules__item
              b.rules__title.rules__title--b Сложность и техничность
            p.rules__item.rules__item--italic Оценивается форма причёски и чистота работы
          li.rules__item-wrapper
            p.rules__item
              b.rules__title.rules__title--b Оригинальность образа
            p.rules__item.rules__item--italic Оценивается неординарный подход и необычность видения
          li.rules__item-wrapper
            p.rules__item
              b.rules__title.rules__title--b Цветовое решение
            p.rules__item.rules__item--italic Оценивается техника окрашивания и чистота цвета
          li.rules__item-wrapper
            p.rules__item
              b.rules__title.rules__title--b Общие впечатления
            p.rules__item.rules__item--italic Оценивается гармоничность целостного образа

        .rules__requirements
          p.rules__item.rules__item--title.rules__item--grey
            b.rules__title.rules__title--b Общие требования:

          ul.rules__list.rules__list--grey
            li.rules__item-wrapper
              p.rules__item Длина волос модели — от плеча и длиннее
            li.rules__item-wrapper
              p.rules__item Запрещается использовать цветные спреи, постижи, работать с нарощенными волосами
            li.rules__item-wrapper
              p.rules__item Волосы модели окрашены. Выбор цвета произвольный. Цвет должен быть сложным и выполненным в модных тенденциях колористики 2019 года

          p.rules__item.rules__item--title.rules__item--grey
            b.rules__title.rules__title--b Разрешается:

          ul.rules__list.rules__list--grey
            li.rules__item-wrapper
              p.rules__item Использовать любые средства поддержки прически и любые инструменты для её создания
            li.rules__item-wrapper
              p.rules__item Использовать любые украшения, которые сделают образ модели целостным

      .rules__inner
        h3.rules__title.rules__title--h3#Photorequirements Требования к фото

        h4.rules__title.rules__title--h4 Сюжетные требования:
        ul.rules__list
          li.rules__item-wrapper
            p.rules__item
              b.rules__title.rules__title--b Маникюр.
              |  Сфотографируйте руки модели так, чтобы хорошо просматривались детали маникюра

          li.rules__item-wrapper
            p.rules__item
              b.rules__title.rules__title--b Визаж.
              |  Сделайте фотографии модели «До» и «После». Оба снимка в анфас — модель смотрит прямо

          li.rules__item-wrapper
            p.rules__item
              b.rules__title.rules__title--b Причёска.
              |  Сделайте фотографии, на которых будут хорошо просматриваться форма и элементы прически

          li.rules__item-wrapper
            p.rules__item
              b.rules__title.rules__title--b Целостный образ.
              |  Сделайте фото модели в полный рост, на котором будет просматриваться весь образ

        .rules__requirements
          h4.rules__title.rules__title--h4 Технические требования:
          ul.rules__list
            li.rules__item-wrapper
              p.rules__item Формат JPG или PNG
            li.rules__item-wrapper
              p.rules__item Минимальное разрешение 4000 пикселей
            li.rules__item-wrapper
              p.rules__item Соотношение сторон 2×3


    .rules__wrapper
      h2.rules__title.rules__title--h2#Rulesofthefinalstage Правила финального этапа конкурса Dream Team
      ol.rules__list
        li.rules__item-wrapper.rules__item-wrapper--order
          p.rules__item Команда в полном составе обязана явиться на конкурс заранее (не менее чем за 10 минут до начала каждого этапа), иметь при себе все необходимое для выполнения конкурсной работы и подготовить свое рабочее место
        li.rules__item-wrapper.rules__item-wrapper--order
          p.rules__item В случае опоздания команда не допускается к участию в этапе
        li.rules__item-wrapper.rules__item-wrapper--order
          p.rules__item Мастер должен иметь при себе собственные материалы, инструменты и аксессуары, необходимые для выполнения конкурсного задания
        li.rules__item-wrapper.rules__item-wrapper--order
          p.rules__item Мастер может использовать материалы, инструменты и аксессуары любого бренда
        li.rules__item-wrapper.rules__item-wrapper--order
          p.rules__item Организаторы Форума предоставляют участникам оборудованное рабочее место
        li.rules__item-wrapper.rules__item-wrapper--order
          p.rules__item Звуковой сигнал означает начало и завершение каждого конкурсного этапа
        li.rules__item-wrapper.rules__item-wrapper--order
          p.rules__item После звукового сигнала и команды «Стоп!» мастер должен сразу прекратить работу, убрать рабочее место и покинуть зону соревнований. Модели остаются на своих местах до завершения оценки этапа членами жюри
        li.rules__item-wrapper.rules__item-wrapper--order
          p.rules__item Участник не может покинуть зону соревнований во время этапов без разрешения председателя жюри
        li.rules__item-wrapper.rules__item-wrapper--order
          p.rules__item Моделям запрещено выходить из зоны соревнований до полного завершения работы или без разрешения председателя жюри

      aside.rules__atention-wrapper
        p.rules__atention Жюри оставляет за собой право на дисквалификацию участников за нарушение правил проведения конкурса

      p.rules__item.rules__item--margin Правила обязательны к выполнению и распространяются на все три этапа конкурса — «Визаж», «Причёска», «Маникюр» и оценки общего образа судьями


      h3.rules__title.rules__title--h3 Очерёдность проведения этапов
      ol.rules__list
        li.rules__item-wrapper.rules__item-wrapper--order
          p.rules__item Этап «Маникюр»
        li.rules__item-wrapper.rules__item-wrapper--order
          p.rules__item Этап «Макияж»
        li.rules__item-wrapper.rules__item-wrapper--order
          p.rules__item Этап «Причёска»
        li.rules__item-wrapper.rules__item-wrapper--order
          p.rules__item Презентация образов. Оценка судей


    .rules__wrapper
      h2.rules__title.rules__title--h2#Criteriaforevaluatingthefinalphase Критерии оценки финального этапа

      aside.rules__atention-wrapper
        p.rules__atention Все критерии оцениваются по 10-бальной шкале

      .rules__inner
        h3.rules__title.rules__title--h3#ThefinalphaseManicure Этап «Маникюр»
        ul.rules__list
          li.rules__item-wrapper
            p.rules__item
              b.rules__title.rules__title--b Предконкурсная подготовка
            p.rules__item.rules__item--italic Оценивается состояние рук модели. Соблюдение всех правил построения архитектуры смоделированых ногтей в соответствии с выстроеной формой
          li.rules__item-wrapper
            p.rules__item
              b.rules__title.rules__title--b Сложность и техничность
            p.rules__item.rules__item--italic Оценивается точность и чистота работы, тщательность проработки деталей
          li.rules__item-wrapper
            p.rules__item
              b.rules__title.rules__title--b Оригинальность образа
            p.rules__item.rules__item--italic Оценивается неординарный подход и необычность видения
          li.rules__item-wrapper
            p.rules__item
              b.rules__title.rules__title--b Цветовое решение
            p.rules__item.rules__item--italic Оценивается гармония и подбор цветов, их сочетание и баланс
          li.rules__item-wrapper
            p.rules__item
              b.rules__title.rules__title--b Общие впечатления
            p.rules__item.rules__item--italic Оценивается гармоничность целостного образа

        .rules__requirements
          p.rules__item.rules__item--title.rules__item--grey
            b.rules__title.rules__title--b Общие требования:

          ul.rules__list.rules__list--grey
            li.rules__item-wrapper
              p.rules__item Время выполнения этапа: 90 минут
            li.rules__item-wrapper
              p.rules__item Кожа рук модели ухоженная и здоровая
            li.rules__item-wrapper
              p.rules__item Открытая, чистая линия кутикулы
            li.rules__item-wrapper
              p.rules__item Длина ногтей от кутикулы до кончиков ногтей от 2 до 5 сантиметров
            li.rules__item-wrapper
              p.rules__item Работа выполняется на смоделированных по базовой технологии ногтях
            li.rules__item-wrapper
              p.rules__item Дизайн ногтей гармонирует с общим образом
            li.rules__item-wrapper
              p.rules__item Ногти носибельные и отвечают тенденциям 2019 года
            li.rules__item-wrapper
              p.rules__item маникюр не содержит элементы в виде людей, животных, птиц, насекомых, одухотворенных персонажей и тд

          p.rules__item.rules__item--title.rules__item--grey
            b.rules__title.rules__title--b Разрешается:

          ul.rules__list.rules__list--grey
            li.rules__item-wrapper
              p.rules__item Использовать оборудование и инструменты любого типа
            li.rules__item-wrapper
              p.rules__item Дополнять дизайн ногтей аксессуарами
            li.rules__item-wrapper
              p.rules__item Дизайн ногтей может быть выполнен в любой технике, иметь любую поверхность, например, плоскую или рельефную, содержать трехмерные (3D) элементы

      .rules__inner
        h3.rules__title.rules__title--h3#ThefinalphaseMakeup Этап «Макияж»
        ul.rules__list
          li.rules__item-wrapper
            p.rules__item
              b.rules__title.rules__title--b Предконкурсная подготовка
            p.rules__item.rules__item--italic Оценивается состояние кожи лица модели
          li.rules__item-wrapper
            p.rules__item
              b.rules__title.rules__title--b Сложность и техничность
            p.rules__item.rules__item--italic Оценивается форма и симметрия
          li.rules__item-wrapper
            p.rules__item
              b.rules__title.rules__title--b Оригинальность образа
            p.rules__item.rules__item--italic Оценивается неординарный подход и необычность видения
          li.rules__item-wrapper
            p.rules__item
              b.rules__title.rules__title--b Цветовое решение
            p.rules__item.rules__item--italic Оценивается гармония и подбор цветов, их сочетание и баланс
          li.rules__item-wrapper
            p.rules__item
              b.rules__title.rules__title--b Общие впечатления
            p.rules__item.rules__item--italic Оценивается гармоничность целостного образа

        .rules__requirements
          p.rules__item.rules__item--title.rules__item--grey
            b.rules__title.rules__title--b Общие требования:

          ul.rules__list.rules__list--grey
            li.rules__item-wrapper
              p.rules__item Время выполнения этапа: 45 минут
            li.rules__item-wrapper
              p.rules__item На столе перед мастером находится фотография модели без макияжа. Формат фото: А4. Фотографию мастер готовит заранее и привозит с собой на конкурс
            li.rules__item-wrapper
              p.rules__item На лице модели нет перманентного макияжа и нарощенных ресниц
            li.rules__item-wrapper
              p.rules__item Кожа лица здоровая, без недостатков
            li.rules__item-wrapper
              p.rules__item Модель имеет современную форму бровей
            li.rules__item-wrapper
              p.rules__item Макияж носибельный и соответствует модным тенденциям 2019 года

          p.rules__item.rules__item--title.rules__item--grey
            b.rules__title.rules__title--b Разрешается:

          ul.rules__list.rules__list--grey
            li.rules__item-wrapper
                p.rules__item Использовать аэрограф, гелевые текстуры, мелкие декоративные элементы (например, ресницы или стразы)

      .rules__inner
        h3.rules__title.rules__title--h3#ThefinalphaseHairstyle Этап «Причёска»
        aside.rules__atention-wrapper
          p.rules__atention На этап «Причёска» модель выходит одета во все элементы общего образа после завершения этапов «Маникюр» и «Макияж»

        ul.rules__list
          li.rules__item-wrapper
            p.rules__item
              b.rules__title.rules__title--b Предконкурсная подготовка
            p.rules__item.rules__item--italic Оценивается состояние волос модели
          li.rules__item-wrapper
            p.rules__item
              b.rules__title.rules__title--b Сложность и техничность
            p.rules__item.rules__item--italic Оценивается форма причёски и чистота работы
          li.rules__item-wrapper
            p.rules__item
              b.rules__title.rules__title--b Оригинальность образа
            p.rules__item.rules__item--italic Оценивается неординарный подход и необычность видения
          li.rules__item-wrapper
            p.rules__item
              b.rules__title.rules__title--b Цветовое решение
            p.rules__item.rules__item--italic Оценивается техника окрашивания и чистота цвета
          li.rules__item-wrapper
            p.rules__item
              b.rules__title.rules__title--b Общие впечатления
            p.rules__item.rules__item--italic Оценивается гармоничность целостного образа

        .rules__requirements
          p.rules__item.rules__item--title.rules__item--grey
            b.rules__title.rules__title--b Общие требования:

          ul.rules__list.rules__list--grey
            li.rules__item-wrapper
              p.rules__item Время выполнения этапа: 60 минут
            li.rules__item-wrapper
              p.rules__item Длина волос модели — от плеча и длиннее
            li.rules__item-wrapper
              p.rules__item Запрещается использовать цветные спреи, постижи, работать с нарощенными волосами
            li.rules__item-wrapper
              p.rules__item Волосы модели окрашены. Выбор цвета произвольный. Цвет должен быть сложным и выполненным в модных тенденциях колористики 2019 года

          p.rules__item.rules__item--title.rules__item--grey
            b.rules__title.rules__title--b Разрешается:

          ul.rules__list.rules__list--grey
            li.rules__item-wrapper
              p.rules__item Использовать любые средства поддержки прически и любые инструменты для её создания
            li.rules__item-wrapper
              p.rules__item Использовать любые украшения, которые сделают образ модели целостным

      p.rules__item.rules__item--margin После завершения работы и оценки судьями у каждой команды будет 10 минут для подготовки модели к финальному дефиле
