section.last-year-winner.lazyload
  .last-year-winner__container.container
    h3.last-year-winner__title-wrapper
      span.last-year-winner__description Победитель Dream Team ‘18
      strong.last-year-winner__title Gala
      span.last-year-winner__text Ивано-Франковск, Украина
