footer.footer
  .footer__container.container
    .footer__wrapper
      ul.footer__list.footer__list--lang
        li.footer__link-wrapper.inactive
          a.footer__link.footer__link--lang(href="") укр
        li.footer__link-wrapper.inactive
          a.footer__link.footer__link--lang(href="") eng
        li.footer__link-wrapper
          //- Текущая ссылка без href
          a.footer__link.footer__link--lang рус

      .footer__link-wrapper
        a.footer__link(href= (current_url=="/privacy.html") ? false : "/privacy.html") Политика конфиденциальности

    .footer__made-by
      a.footer__link.footer__link--svg(href="http://kontora.design", target="_blank", rel="noopener", title="Сделано в «Дизайн-Конторе»") Сделано в «Дизайн-Конторе»
        +icon('kontora')
